
.form{
    width:105%;
    height:105%;
    /* background:#e6e6e64a; */
    /* border-radius:8px; */
    box-shadow:0 0 15px -10px rgb(231, 230, 230);
    /* margin:calc(5px) auto; */
    /* padding:20px 30px;max-width:calc(100vw - 40px); */
    box-sizing:border-box;
    /* font-family:'Montserrat',sans-serif; */
    /* position:relative */
}

h2{
    margin:10px;
    padding-bottom:0px;
    padding-top: 30px;
    padding-left: 10px;
    width:280px;
    color:#000000;
    border-bottom:0px solid #000000;
    font-family:'Montserrat',sans-serif;
    
}

input{
    width:30%;
    padding:5px;
    box-sizing:border-box;
    background:none;
    outline:none;
    resize:none;
    border:0;
    font-family:'Montserrat',sans-serif;
    transition:all .3s;
    border-bottom:1px solid #d8d8d88a;
    display: flex;
    margin-left: 10%;
    
}

input:focus{
    border-bottom:2px solid #b8b8b8;
    background-color: #ffffff00;
    border-radius: 0px;
}

p:before{
    content:attr(type);
    display:block;
    margin:20px 0 0;
    font-size:16px;
    color:#000000;
    display:flex;
    margin-left: 12%;
}

/* button{
    padding:8px 12px;
    margin:8px 0 0;
    font-family:'Montserrat',sans-serif;
    border:2px solid #000000;
    background:0;
    color:#000000;
    cursor:pointer;
    transition:all .5s
}

button:hover{
    background:#ffdd00;
    color:#000000;
    font-weight: bold;
} */

.Button-div-VSConfigPage {
    font-size: 17px;
    background: transparent;
    border: none;
    color: #ffedd3;
    text-transform: uppercase;
    position: relative;
    transition: .2s ease;
    align-content:flex-start;
    display: flex;
    flex-direction: row;
    padding-top:40px;
    padding-left:60px;
    margin-right: 20px;   
    margin-left: 20px; 
  }
  
  
  .Button-VSConfPage {
    --color: #ffdd00;
    padding: 0.8em 1.7em;
    margin-top:2px;
    margin-bottom: 5px;
    margin-right:20px;
    margin-left:20px;
    background-color: transparent;
    border-radius: .6em;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    transition: .2s;
    font-weight: 600;
    font-size: 15px;
    border: 1px solid;
    font-family: inherit;
    color: var(--color);
    z-index: 1;
    
   }
   
   .Button-VSConfPage::before, .Button-VSConfPage::after {
    content: '';
    display: block;
    width: 50px;
    height: 50px;
    transform: translate(-50%, -50%);
    position: absolute;
    border-radius: 50%;
    z-index: -1;
    background-color: var(--color);
    transition: 1s ease;
   }
   
   .Button-VSConfPage::before {
    top: -1em;
    left: -1em;
   }
   
   .Button-VSConfPage::after {
    left: calc(100% + 1em);
    top: calc(100% + 1em);
   }
   
   .Button-VSConfPage:hover::before, .Button-VSConfPage:hover::after {
    height: 410px;
    width: 410px;
   }
   
   .Button-VSConfPage:hover {
    color: rgb(10, 25, 30);
   }
   
   .Button-VSConfPage:active {
    filter: brightness(.8);
   }

   .VSConfigPage-panel-setting{
        --color: #ffdd00;
        padding: 0.8em 1.2em;
        margin-top:0px;
        margin-right:0px;
        background-color: transparent;
        border-radius: .6em;
        position: relative;
        overflow: hidden;
        cursor: pointer;
        transition: .2s;
        font-weight: 600;
        font-size: 2px;
        font-family: inherit;
        color: var(--color);
        z-index: 1;
        border: 0px #ffdd00;
        display:inline;
        align-content:left;
   }
   
   form{
    background-color: #ffffff43;
    margin-bottom:10px;
   }

   .VSPage-class{
    height: auto;
    background-color: transparent;
   }