.App {
  text-align: center;
  color: rgb(255, 255, 255);
  background: fixed;
  background-size: cover;
  background-image: url('./components/resources/background_dark_5.jpg');
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 2s linear;
  }
}

.App-header {
  text-align: center;
}

.App-panel {
  text-align: center;
  display: flex;
  flex-direction: row;
  align-content: center;
  padding-left: 10px;
  padding-right: 60px;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin-inline-start: 30px;
  margin-inline-end: 30px;
  margin-top: 100px;
  margin-bottom: 200px;
  align-content: center;
  width: auto;
  border: 0px solid rgb(255, 255, 255);
  border-radius: 10px;
  background-color: #3898ec00;
  background-position: 0% 0%;
  background-repeat: space;
  background-color: white;
  background: transparent;
}

.App-body {
  text-align: center;
  display: flex;
  flex-direction: column;
  height: auto;
  align-content: center;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}